@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesExtraLight.ttf") format("truetype");

    font-style: normal;
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesSemiboldRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  html,
  body {
    @apply font-omnes scroll-smooth;
  }

  body {
    overflow-x: hidden;
    position: relative;
    color: #202125;
    background-color: #fff;
    transition: 0.3s all;
  }

  .hero-img {
    opacity: 1;
    inset-inline-end: -27rem;
    position: absolute;
    top: 0;
    z-index: 0;
    min-height: 100%;
    width: auto;
    min-width: 62.5rem;
    object-fit: cover;
    transition: opacity 150ms ease-in-out 0s;
  }

  @media screen and (min-width: 600px) {
    .hero-img {
      inset-inline-end: -28rem;
    }
  }
  @media screen and (min-width: 1020px) {
    .hero-img {
      inset-inline-end: -18.75rem;
    }
  }
  @media screen and (min-width: 1990px) {
    .hero-img {
      inset-inline-end: -25%;
      opacity: 0;
    }
  }

  .hero {
    background-repeat: no-repeat;
  }

  .search__input {
    line-height: 1.5rem;
    border: none;
    outline: none;
    padding: 0.75rem 0.875rem;
    padding-inline-start: 3.125rem;
    border: 2px solid rgba(32, 33, 37, 0.12);
    border-radius: 0.5rem;
    transition: border 0.2s linear 0s;
  }

  .search__input:focus {
    border-color: #1fa9e4;
    box-shadow: rgba(0, 157, 224) 0px 0px 0px 0.0625rem;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
  }

  .search__input:focus + .search__label {
    transform: translateY(-0.6875rem) scale(0.75);
  }

  .search__label {
    top: 0.875rem;
    width: auto;
    left: 3.33rem;
    right: 3.25rem;
    transition: transform 0.15s ease-in-out 0s;
    transform-origin: left center;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .download-img {
    z-index: 1;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    left: 0;
    width: 100%;
  }

  /* TEXT Input Field */

  .textfield__input {
    line-height: 1.5rem;
    border: none;
    outline: none;
    padding: 0.75rem 0.875rem;
    padding-inline-start: 0.875rem;
    border: 2px solid rgba(32, 33, 37, 0.12);
    border-radius: 0.5rem;
    transition: border 0.2s linear 0s;
  }

  .textfield__input:focus {
    border-color: #1fa9e4;
    box-shadow: rgba(0, 157, 224) 0px 0px 0px 0.0625rem;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
  }

  .textfield__label {
    top: 0.875rem;
    width: auto;
    left: 0.875rem;
    right: 0.875rem;
    transition: transform 0.15s ease-in-out 0s;
    transform-origin: left center;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .textfield__input:focus + .textfield__label {
    transform: translateY(-0.6875rem) scale(0.75);
  }
  @media screen and (min-width: 640px) {
    .download-textContainer {
      max-width: 60%;
      width: 100%;
    }
  }

  @media screen and (min-width: 1023px) {
    .download-textContainer {
      max-width: 40%;
    }
  }

  @media screen and (max-width: 800px) {
    .download__image-cont {
      right: -800px;
    }
  }

  .download__image-cont {
    right: -500px;
    top: 0;
  }
  @media screen and (max-width: 1023px) {
    .download__image-cont {
      right: -700px;
    }
  }
  @media screen and (max-width: 1199px) {
    .download__image-cont {
      right: -600px;
    }
  }

  .partner__text {
    min-height: 180px;
  }

  .partner__link::after {
    content: "";
    width: 100%;
    bottom: -0.5rem;
    height: 1px;
    background-color: #1fa9e4;
    position: absolute;
    left: 0;
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .partner__link:hover.partner__link::after {
    width: 0;
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    /* height: 0; */
  }
  .whatswolt__content {
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1024px) {
    .whatswolt__content {
      background-image: none;
    }
  }

  /* Select */

  .select {
    line-height: 1.5rem;
    border: none;
    outline: none;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    padding-inline: 1rem 2.5rem;
    color: rgb(32, 33, 37);
    appearance: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;

    border: 2px solid rgba(32, 33, 37, 0.12);
    border-radius: 0.5rem;
    transition: border 0.2s linear 0s;
  }

  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: minmax(80px, 260px); */
  }

  .select option {
    padding-inline-start: 0.875rem;
    padding: 0.75rem 0.875rem;
  }
  .select:focus {
    box-shadow: rgba(0, 157, 224) 0px 0px 0px 0.0625rem;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
  }

  /* checkbox */

  .checkbox__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .checkbox--active {
    background: #1fa9e4;
  }

  .modal__content {
    max-height: min(50rem, 100vh - 24px);
    overflow-y: auto;
    /* color:#20212533; */
  }

  .modal__content::-webkit-scrollbar {
    width: 5px;
  }

  .popover_overlay {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    top: -0.5rem;
    right: 1rem;
    height: 1.2rem;
    width: 2.5rem;

    /* filter: drop-shadow(rgba(0, 0, 0, 0.09) 0px 0px 2px) */
    /* box-shadow: rgb(0 0 0 / 24%) 0px 0px 1px 0px,
      rgb(0 0 0 / 10%) 0px 0px 0.25rem 0px,
      rgb(0 0 0 / 12%) 0px 0.25rem 0.25rem 0px; */
  }
  .popover {
    box-shadow: rgb(0 0 0 / 24%) 0px 0px 1px 0px,
      rgb(0 0 0 / 10%) 0px 0px 0.25rem 0px,
      rgb(0 0 0 / 12%) 0px 0.25rem 0.25rem 0px;
  }
}

.sideMenu {
  position: relative;
  width: max-content;
  transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sideMenu-active {
  position: relative;
  width: max-content;
  transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sideMenu:hover.sideMenu::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #202125;
  bottom: -5px;
  left: 0;
  animation: activeMenu ease 0.5s;
}
.sideMenu-active::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #202125;
  bottom: -5px;
  left: 0;

  animation: activeMenu ease 0.5s;
}

@keyframes activeMenu {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.product-modal {
     /* height: 100%; */
     min-height: 420px;
     max-height: calc(100vh-24px);
  overflow-y: auto;
  max-width: min(32.5rem, 90vw);
}

/* :-ms-input-placeholder */
/* ::-webkit-input-placeholder */
