@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesExtraLight.ttf") format("truetype");

    font-style: normal;
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "omnes";
    src: url("/fonts/OmnesSemiboldRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  html,body{
    @apply font-omnes scroll-smooth 

  }
}
